/build/
NonlinearTMM/src/NonlinearTMMCpp/NonlinearTMMCpp/x64/Release/vc140.pdb
NonlinearTMM/src/NonlinearTMMCpp/NonlinearTMMCpp/x64/
NonlinearTMM/src/NonlinearTMMCpp/x64/
NonlinearTMM/src/NonlinearTMMCpp/NonlinearTMMCpp.sdf
NonlinearTMM/src/NonlinearTMMCpp/.vs/NonlinearTMMCpp/v14/.suo
NonlinearTMM/src/NonlinearTMMCpp/NonlinearTMMCpp/NonlinearTMMCpp.vcxproj.filters
NonlinearTMM/src/NonlinearTMMCpp/NonlinearTMMCpp/NonlinearTMMCpp.vcxproj.user
*.vspx
*.psess
NonlinearTMM/src/NonlinearTMMCpp/ipch
NonlinearTMM/src/NonlinearTMMCpp/NonlinearTMMCpp.VC.db
NonlinearTMM/_SecondOrderNLTMMCython.cp36-win_amd64.pyd
NonlinearTMM/src/SecondOrderNLTMM.cpp
*.pyc
*.pyd
.settings/
.cache/

/.project
/.pydevproject
/git/
/cloc.txt
/MANIFEST
/dist/
/prepare_to_publish.bat
/publish.bat
/NonlinearTMM.egg-info/
/venv/
